<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="taggerNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">taglish-post</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#taggerNavbarContent"
            aria-controls="taggerNavbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="taggerNavbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url "tagger:index" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "tagger:about" %}">About / How Tos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "tagger:cite" %}">Cite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "tagger:annotator" %}">Annotator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "tagger:online_model" %}">Online Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "tagger:contact" %}">Contact</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "tagger:password_change" %}">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "tagger:logout" %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "tagger:login" %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
