{% extends "tagger/base.html" %}

{% load static %}

{% block content %}
  <!-- Current Session Area -->
  <div class="mb-3">
    <h1 class="h5">Current annotated sentences in your session</h1>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Sentence ID</th>
            <th>Sentence</th>
            <th>Annotation</th>
          </tr>
        </thead>
        <tbody>
          <!-- TODO: Remove sample sentences. -->
          <tr>
            <td colspan="3" class="text-center">There are no sentences yet.</td>
          </tr>
          <tr>
            <td>3585</td>
            <td>{% lorem 10 w %}</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>3585</td>
            <td>{% lorem 10 w %}</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>3585</td>
            <td>{% lorem 10 w %}</td>
            <td>N/A</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary">
      <i class="fa-solid fa-trash"></i>
      Clear session
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary">
      <i class="fa-solid fa-file-csv"></i>
      Save to website dataset
      <span class="badge bg-secondary">3</span>
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary">
      <i class="fa-solid fa-file-csv"></i>
      Output as CSV
      <span class="badge bg-secondary">3</span>
    </button>
  </div>
  <!-- Annotation Area -->
  <div id="annotator-app-root"></div>
{% endblock content %}

{% block default_js %}{% endblock default_js %}

{% block page_js %}
  <script src="{% static "tagger/js/spa/annotator.js" %}"></script>
{% endblock page_js %}
