{% extends "tagger/base.html" %}

{% load static %}

{% block content %}
  <!-- Current Session Area -->
  <div class="mb-3">
    <h1 class="h5">Current annotated sentences in your session</h1>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Sentence ID</th>
            <th>Language</th>
            <th>Sentence</th>
            <th>Annotation</th>
          </tr>
        </thead>
        <tbody>
          {% for sentence in session_sentences %}
            <tr>
              <td>{{ sentence.id }}</td>
              <td>{{ sentence.language }}</td>
              <td>{{ sentence.raw }}</td>
              <td>
                <!-- View Button -->
                <button type="button" class="btn btn-sm btn-light view-annotation-button"
                  data-pos-id="{{ sentence.id }}"
                  data-bs-toggle="modal" data-bs-target="#viewAnnotationModal">
                  <i class="fa-solid fa-eye"></i>
                </button>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4" class="text-center">There are no sentences yet.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="{% url "tagger:remove_sentences_from_session" %}"
      class="btn btn-sm btn-outline-secondary"
      onclick="return confirm('Remove all annotations in session?')">
      <i class="fa-solid fa-trash"></i>
      Clear session
    </a>
    <button type="button" class="btn btn-sm btn-outline-primary">
      <i class="fa-solid fa-file-csv"></i>
      Save to website dataset
      <span class="badge bg-secondary">{{ session_sentences_len }}</span>
    </button>
    <a href="{% url "tagger:get_session_sentences_as_csv" %}"
      class="btn btn-sm btn-outline-primary">
      <i class="fa-solid fa-file-csv"></i>
      Output as CSV
      <span class="badge bg-secondary">{{ session_sentences_len }}</span>
    </a>
  </div>
  <!-- Annotation Area -->
  <div id="annotator-app-root"></div>

  <!-- View Annotation Modal -->
  <div class="modal fade" id="viewAnnotationModal"
    tabindex="-1" aria-labelledby="viewAnnotationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewAnnotationModalLabel">Annotated Sentence</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block page_js %}
  <script src="{% static "tagger/js/annotator.js" %}"></script>

  <!-- Browse Session sentences script -->
  <script>
    const viewButtons = document.getElementsByClassName("view-annotation-button");
    if(viewButtons) {
      for(let viewButton of viewButtons) {
        viewButton.addEventListener('click', (event) => {
          const id = viewButton.dataset.posId;
          let request = new XMLHttpRequest();
          request.onload = () => {
            let modalBody = document.querySelector("#viewAnnotationModal .modal-body");
            let annotated_tokens = JSON.parse(request.response).annotation;
            // Render the tags
            modalBody.replaceChildren();
            for(let annotated_token of annotated_tokens) {
              let tokenElement = document.createElement("span");
              tokenElement.className = `badge bg-pos-${annotated_token.tag.toLowerCase()} me-2 mb-2`;
              tokenElement.appendChild(document.createTextNode(
                `${annotated_token.token} | ${annotated_token.tag}`));
              modalBody.appendChild(tokenElement);
            }
          };
          // TODO: Find a solution that is not hardcoding the URL
          request.open("GET", `/annotated-sentence/${id}/?from=session`);
          request.send();
        });
      }
    }
  </script>
{% endblock page_js %}
