{% extends "tagger/base.html" %}
{% block content %}
  <div class="row g-4">
    <div class="col-sm-6 col-md-3">
      <img src="https://via.placeholder.com/150"
           class="img-fluid w-100 mb-3"
           alt="Nathan profile picture"/>
      <h2 class="h4">Nathan Ralph Punay</h2>
      <p>Undergraduate Researcher</p>
      <hr/>
      <p>
        <b>Email</b>:
        <a href="mailto:nvpunay@gmail.com">nvpunay@gmail.com</a>
      </p>
    </div>
    <div class="col-sm-6 col-md-3">
      <img src="https://via.placeholder.com/150"
           class="img-fluid w-100 mb-3"
           alt="Rian profile picture"/>
      <h2 class="h4">Rian Carlo Reyes</h2>
      <p>Undergraduate Researcher</p>
      <hr/>
      <p>
        <b>Email</b>:
        <a href="mailto:reyesriancarlo@gmail.com">reyesriancarlo@gmail.com</a>
      </p>
      <p>
        <b>Github</b>:
        <a href="https://github.com/QueebSkeleton">QueebSkeleton</a>
      </p>
      <p>
        <b>Facebook/Messenger</b>:
        <a href="https://facebook.com/QueebSkeleton">Rian Carlo Reyes</a>
      </p>
    </div>
    <div class="col-sm-6 col-md-3">
      <img src="https://via.placeholder.com/150"
           class="img-fluid w-100 mb-3"
           alt="Psalm profile picture"/>
      <h2 class="h4">Psalm David Eisma</h2>
      <p>Undergraduate Researcher</p>
      <hr/>
      <p>
        <b>Email</b>:
        <a href="mailto:pdeisma@gmail.com">pdeisma@gmail.com</a>
      </p>
    </div>
    <div class="col-sm-6 col-md-3">
      <img src="https://via.placeholder.com/150"
           class="img-fluid w-100 mb-3"
           alt="Yee profile picture"/>
      <h2 class="h4">John Joseph Yee</h2>
      <p>Undergraduate Researcher</p>
      <hr/>
      <p>
        <b>Email</b>:
        <a href="mailto:mail.johnjosephyee@gmail.com">mail.johnjosephyee@gmail.com</a>
      </p>
    </div>
  </div>
{% endblock content %}
