{% extends "tagger/base.html" %}
{% block content %}
<div class="row g-4">
  <div class="col-sm-6 col-md-3 ">
    <div class="card">
      <img src="..\static\tagger\img\Nathan-picture.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">
        <h2 class="h4">Nathan Ralph V. Punay</h2>
        <p>Undergraduate Researcher</p>
        <hr />
        <p>
          <b>Email</b>:
          <a href="mailto:nralph407@gmail.com">nralph407@gmail.com</a>
        </p>
        <p>
          <b>Github</b>:
          <a href="https://github.com/nathanralph407">nathanralph407</a>
        </p>
        <p>
          <b>Facebook/Messenger</b>:
          <a href="https://m.me/garglingspaghetti">Nathan Ralph</a>
        </p>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card">
      <img src="..\static\tagger\img\Rian-picture.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">
        <h2 class="h4">Rian Carlo Reyes</h2>
        <p>Undergraduate Researcher</p>
        <hr />
        <p>
          <b>Email</b>:
          <a href="mailto:reyesriancarlo@gmail.com">reyesriancarlo@gmail.com</a>
        </p>
        <p>
          <b>Github</b>:
          <a href="https://github.com/queebskeleton">queebskeleton</a>
        </p>
        <p>
          <b>Facebook/Messenger</b>:
          <a href="https://www.facebook.com/queebskeleton">Rian Carlo Reyes</a>
        </p>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card">
      <img src="..\static\tagger\img\Psalm-picture.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">
        <h2 class="h4">Psalm David Eisma</h2>
        <p>Undergraduate Researcher</p>
        <hr />
        <p>
          <b>Email</b>:
          <a href="mailto:pdeisma@gmail.com">pdeisma@gmail.com</a>
        </p>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card">
      <img src="https://via.placeholder.com/1200x1500" class="card-img-top">
      <div class="card-body">
        <p class="card-text">
        <h2 class="h4">John Joseph Yee</h2>
        <p>Undergraduate Researcher</p>
        <hr />
        <p>
          <b>Email</b>:
          <a href="mailto:mail.johnjosephyee@gmail.com">mail.johnjosephyee@gmail.com</a>
        </p>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}