{% extends "tagger/base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-4">
      <h1 class="text-center h4">Successfully changed password.</h1>
      <hr/>
      <div class="text-center">
        <a href="{% url "tagger:index" %}"
          class="btn btn-sm btn-outline-secondary">
          <i class="fa-solid fa-reply"></i>
          Back to homepage
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
