{% extends "tagger/base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-4">
      <h1 class="text-center h4">Change your Password</h1>
      <hr/>
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}<p class="text-danger">{{ error|escape }}</p>{% endfor %}
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {# Old Password Field #}
        <div class="mb-3">
          <label for="{{ form.old_password.id_for_label }}" class="form-label">Old Password</label>
          {% render_field form.old_password class="form-control form-control-sm" %}
        </div>
        {% if form.old_password.errors %}
          {% for error in form.old_password.errors %}<p class="text-danger">{{ error|escape }}</p>{% endfor %}
        {% endif %}
        {# New Password Field #}
        <div class="mb-3">
          <label for="{{ form.new_password1.id_for_label }}" class="form-label">New Password</label>
          {% render_field form.new_password1 class="form-control form-control-sm" %}
        </div>
        {% if form.new_password1.errors %}
          {% for error in form.new_password1.errors %}<p class="text-danger">{{ error|escape }}</p>{% endfor %}
        {% endif %}
        {# Repeat Password Field #}
        <div class="mb-3">
          <label for="{{ form.new_password2.id_for_label }}" class="form-label">Repeat New Password</label>
          {% render_field form.new_password2 class="form-control form-control-sm" %}
        </div>
        {% if form.new_password2.errors %}
          {% for error in form.new_password2.errors %}<p class="text-danger">{{ error|escape }}</p>{% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-sm btn-primary">Change</button>
      </form>
    </div>
  </div>
{% endblock content %}
