[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
nltk = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
dill = "*"
numpy = "*"
python-dotenv = "*"
pycld2 = {version = "*", sys_platform = "== 'linux'"}
pycld2-win = {path = "pycld2-0.41-cp310-cp310-win_amd64.whl", sys_platform = "== 'win32'"}
django-q = "*"

[dev-packages]
djlint = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
