[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
nltk = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"

[dev-packages]
djlint = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
