:root {
    --pos-color-adj: #EFA94A;
    --pos-color-adv: #84C3BE;
    --pos-color-intj: #FFE74C;
    --pos-color-noun: #F44611;
    --pos-color-propn: #FF5964;
    --pos-color-verb: #6BF178;
    --pos-color-adp: #232ED1;
    --pos-color-aux: #101D42;
    --pos-color-cconj: #A03472;
    --pos-color-det: #592321;
    --pos-color-num: #3B83BD;
    --pos-color-part: #6C4675;
    --pos-color-pron: #C35831;
    --pos-color-sconj: #C1876B;
    --pos-color-punct: #FF101F;
    --pos-color-sym:#334139;
    --pos-color-x:#B5B8B1; 
}

#taggerNavbar {
    border-radius: 10px;
}

#taggerFooter {
    text-align: center;
    font-size: 0.75rem;
}

/* POS-related classes */
.bg-pos-adj {
    background-color: var(--pos-color-adj);
}

.btn-pos-adj {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-adj);
    --bs-btn-border-color: var(--pos-color-adj);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-adj);
    --bs-btn-hover-border-color: var(--pos-color-adj);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-adj);
    --bs-btn-active-border-color: var(--pos-color-adj);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-adj);
    --bs-btn-disabled-border-color: var(--pos-color-adj);
}

.bg-pos-adv {
    background-color: var(--pos-color-adv);
}

.btn-pos-adv {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-adv);
    --bs-btn-border-color: var(--pos-color-adv);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-adv);
    --bs-btn-hover-border-color: var(--pos-color-adv);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-adv);
    --bs-btn-active-border-color: var(--pos-color-adv);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-adv);
    --bs-btn-disabled-border-color: var(--pos-color-adv);
}

.bg-pos-intj {
    background-color: var(--pos-color-intj);
}

.btn-pos-intj {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-intj);
    --bs-btn-border-color: var(--pos-color-intj);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-intj);
    --bs-btn-hover-border-color: var(--pos-color-intj);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-intj);
    --bs-btn-active-border-color: var(--pos-color-intj);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-intj);
    --bs-btn-disabled-border-color: var(--pos-color-intj);
}

.bg-pos-noun {
    background-color: var(--pos-color-noun);
}

.btn-pos-noun {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-noun);
    --bs-btn-border-color: var(--pos-color-noun);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-noun);
    --bs-btn-hover-border-color: var(--pos-color-noun);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-noun);
    --bs-btn-active-border-color: var(--pos-color-noun);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-noun);
    --bs-btn-disabled-border-color: var(--pos-color-noun);
}

.bg-pos-propn {
    background-color: var(--pos-color-propn);
}

.btn-pos-propn {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-propn);
    --bs-btn-border-color: var(--pos-color-propn);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-propn);
    --bs-btn-hover-border-color: var(--pos-color-propn);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-propn);
    --bs-btn-active-border-color: var(--pos-color-propn);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-propn);
    --bs-btn-disabled-border-color: var(--pos-color-propn);
}

.bg-pos-verb {
    background-color: var(--pos-color-verb);
}

.btn-pos-verb {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-verb);
    --bs-btn-border-color: var(--pos-color-verb);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-verb);
    --bs-btn-hover-border-color: var(--pos-color-verb);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-verb);
    --bs-btn-active-border-color: var(--pos-color-verb);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-verb);
    --bs-btn-disabled-border-color: var(--pos-color-verb);
}

.bg-pos-adp {
    background-color: var(--pos-color-adp);
}

.btn-pos-adp {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-adp);
    --bs-btn-border-color: var(--pos-color-adp);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-adp);
    --bs-btn-hover-border-color: var(--pos-color-adp);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-adp);
    --bs-btn-active-border-color: var(--pos-color-adp);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-adp);
    --bs-btn-disabled-border-color: var(--pos-color-adp);
}

.bg-pos-aux {
    background-color: var(--pos-color-aux);
}

.btn-pos-aux {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-aux);
    --bs-btn-border-color: var(--pos-color-aux);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-aux);
    --bs-btn-hover-border-color: var(--pos-color-aux);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-aux);
    --bs-btn-active-border-color: var(--pos-color-aux);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-aux);
    --bs-btn-disabled-border-color: var(--pos-color-aux);
}

.bg-pos-cconj {
    background-color: var(--pos-color-cconj);
}

.btn-pos-cconj {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-cconj);
    --bs-btn-border-color: var(--pos-color-cconj);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-cconj);
    --bs-btn-hover-border-color: var(--pos-color-cconj);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-cconj);
    --bs-btn-active-border-color: var(--pos-color-cconj);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-cconj);
    --bs-btn-disabled-border-color: var(--pos-color-cconj);
}

.bg-pos-det {
    background-color: var(--pos-color-det);
}

.btn-pos-det {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-det);
    --bs-btn-border-color: var(--pos-color-det);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-det);
    --bs-btn-hover-border-color: var(--pos-color-det);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-det);
    --bs-btn-active-border-color: var(--pos-color-det);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-det);
    --bs-btn-disabled-border-color: var(--pos-color-det);
}

.bg-pos-num {
    background-color: var(--pos-color-num);
}

.btn-pos-num {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-num);
    --bs-btn-border-color: var(--pos-color-num);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-num);
    --bs-btn-hover-border-color: var(--pos-color-num);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-num);
    --bs-btn-active-border-color: var(--pos-color-num);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-num);
    --bs-btn-disabled-border-color: var(--pos-color-num);
}

.bg-pos-part {
    background-color: var(--pos-color-part);
}

.btn-pos-part {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-part);
    --bs-btn-border-color: var(--pos-color-part);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-part);
    --bs-btn-hover-border-color: var(--pos-color-part);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-part);
    --bs-btn-active-border-color: var(--pos-color-part);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-part);
    --bs-btn-disabled-border-color: var(--pos-color-part);
}

.bg-pos-pron {
    background-color: var(--pos-color-pron);
}

.btn-pos-pron {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-pron);
    --bs-btn-border-color: var(--pos-color-pron);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-pron);
    --bs-btn-hover-border-color: var(--pos-color-pron);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-pron);
    --bs-btn-active-border-color: var(--pos-color-pron);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-pron);
    --bs-btn-disabled-border-color: var(--pos-color-pron);
}

.bg-pos-sconj {
    background-color: var(--pos-color-sconj);
}

.btn-pos-sconj {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-sconj);
    --bs-btn-border-color: var(--pos-color-sconj);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-sconj);
    --bs-btn-hover-border-color: var(--pos-color-sconj);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-sconj);
    --bs-btn-active-border-color: var(--pos-color-sconj);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-sconj);
    --bs-btn-disabled-border-color: var(--pos-color-sconj);
}

.bg-pos-punct {
    background-color: var(--pos-color-punct);
}

.btn-pos-punct {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-punct);
    --bs-btn-border-color: var(--pos-color-punct);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-punct);
    --bs-btn-hover-border-color: var(--pos-color-punct);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-punct);
    --bs-btn-active-border-color: var(--pos-color-punct);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-punct);
    --bs-btn-disabled-border-color: var(--pos-color-punct);
}

.bg-pos-sym {
    background-color: var(--pos-color-sym);
}

.btn-pos-sym {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-sym);
    --bs-btn-border-color: var(--pos-color-sym);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-sym);
    --bs-btn-hover-border-color: var(--pos-color-sym);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-sym);
    --bs-btn-active-border-color: var(--pos-color-sym);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-sym);
    --bs-btn-disabled-border-color: var(--pos-color-sym);
}

.bg-pos-x {
    background-color: var(--pos-color-x);
}

.btn-pos-sym {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--pos-color-x);
    --bs-btn-border-color: var(--pos-color-x);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pos-color-x);
    --bs-btn-hover-border-color: var(--pos-color-x);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pos-color-x);
    --bs-btn-active-border-color: var(--pos-color-x);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-color: var(--pos-color-x);
    --bs-btn-disabled-border-color: var(--pos-color-x);
}
